*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
.navbar{
    display: flex;
    align-items: center;
    padding: 20px;
}
nav{
    flex: 1;
    text-align: right;
}
li{
    display: inline-block;
    list-style-type: none;
    margin-right: 20px;
}
a{
    text-decoration: none;
    color: #555;
}
p{
    color: #555;

}
.container{
    width: 1300px;
    margin: auto;
    padding: 0px 25px;
}
.main{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}
.content1{
    flex-basis: 50%;
    min-width: 300px;
}
.content1 img{
    width: 100%;
    padding: 50px 0px;
}
.content1 h1{
    font-size: 50px;
    line-height: 60px;
    margin: 25px 0px;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
}
.btn{
    display: inline-block;
    background-color: #ff523b;
    color: #fff;
    padding: 8px 30px;
    margin-top: 20px;
    border-radius: 30px;
    transition: background 0.5s;
}
.btn:hover{
    background: #555;
}
.header{
    background: radial-gradient(#fff,#ffd6d6);   
}
.header .main{
    margin-top: 20px;
}
.catagories{
    margin: 70px 0px;
}
.row{
    display: flex;
    flex-basis: 30%;
    min-width: 250px;
    margin-bottom: 30px;
    gap: 20px;
}
.col3 img{
    width: 100%;
}
.small-container{
    max-width: 1080px;
    margin: auto;
    padding: 0px 25px;
}
.col4{
    flex-basis: 25%;
    padding: 10px;
    min-width: 200px;
    margin-bottom: 50px;
    transition: transform 0.5s;
}
.col4 img{
    width: 100%;
}
.title{
    text-align: center;
    margin: 0px auto 80px;
    position: relative;
    line-height: 60px;
    color: #555;
    font-family: poppins,sans-serif;
}
.title::after{
    content: '';
    background: #ff523b;
    width: 80px;
    height: 5px;
    border-radius: 5px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}
h4{
    color: #555;
    font-size: normal;
}
.col4 p{
    font-size: 16px;
}
.col4:hover{
    transform: translateY(-5px);
}
.offer{
    background: radial-gradient(#fff,#ffd6d6);
    margin-top: 80px;
    padding: 30px 0px;
}
.col2 img{
    width: 350px;
}
.col5{
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: poppins;
}
.col5 h1{
    font-family: poppins,sans-serif;
    font-size: 40px;
    margin:20px 0px;
    font-weight: bold;
}
small{
    width: 486px;
}
.btn-btn{
    display: inline-block;
    background-color: #ff523b;
    color: #fff;
    width: 150px;
    padding: 8px 30px;
    margin-top: 20px;
    border-radius: 30px;
}
.row1{
    display: flex;
    justify-content: center;
    padding: 50px;
}
.row2{
    display: flex;
    flex-basis: 30%;
    min-width: 300px;
    margin-top: 30px;
    gap: 20px;

}
.col6 p{
    margin-top: 20px;
}
.col6 .rating{
    margin-top: 20px;
}
.col6{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    text-align: center;
    border-radius: 7px;
    box-shadow: 0px 0px 20px 0px rgb(0,0,0,0.1);
    transition: transform 0.5s;
}
.col6 img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-top: 30px;
}
.col6:hover{
    transform: translateY(-10px);
}
.brands{
    margin-top: 90px;
}
.row4{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}
.col7{
    filter: grayscale(100%);
}
.col7:hover{
    filter: grayscale(0%);
}
.footer{
    display: flex;
    background-color: black;
    padding: 60px;
    width: 100%;
}
.footlogo{
    display: flex;
    gap: 10px;
}
.footlogo img{
    width: 120px;
}
.row9{
    display: flex;
    width: 100%;
    gap: 60px;
    color:white
}
.footer p{
 color:#555
}
.footer-col-2 img{
    width: 150px;
    margin-bottom: 30px;
}
.footer-col-2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 400px;
}
.footer-col-1 p{
    width: 320px;
    padding: 20px 0px;
}
.footer-col-3 li{
    display: flex;
    justify-content: center;
    gap: 7px;
    color: #555;
}
.footer-col-3 ul{
    margin-top: 20px;
}
.footer-col-3 p{
    color: white;
    font-family: poppins;
}

.copyright{
    background-color: black;
    padding: 25px 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
.line{
    width: 600px;
    height: 3px;
    background-color: #555;
}
@media (max-width: 380px) {
    .navbar {
        flex-direction: column;
        align-items: center;
    }
    nav {
        margin-top: 10px;
        text-align: center;
    }
    .navbar li {
        margin-right: 0;
        margin-bottom: 10px;
    }
    .main {
        flex-direction: column;
    }
    .content1 {
        flex-basis: 100%;
    }
    .content1 h1 {
        font-size: 40px;
        line-height: 50px;
    }
    .col3 {
        flex-basis: 100%;
    }
    .col4 {
        flex-basis: 100%;
        min-width: auto;
    }
    .col2 img {
        width: 250px;
    }
}
@media (max-width: 800px) {
    .container {
        width: 90%;
        padding: 0px 10px;
    }
    .col3,
    .col4,
    .col5 {
        flex-basis: 50%;
    }
}
